/* tata letak baris tabel di 'mahasiswa_list' */
main > .table-responsive > .table > tbody > tr > td {
  vertical-align: middle;
}

/* Posisi gambar profil di 'mahasiswa_detail' */
main > .card > .row > .col-md-4 > img {
  height: 100%;
  object-position: center;
  object-fit: cover;
}
